#phoca-update {
	margin:0;
	margin-top:10px;
	padding-left:50px;
	padding-top:14px;
	height:45px;
	width:270px;
	background: url('images/update.png') 0 0 no-repeat;
}
#phoca-update a {
	text-decoration:underline;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}

div.icon-48-info {
	background: url('images/icon-48-info.png') no-repeat left;
}
div.icon-48-phoca {
	background: url('images/icon-48-phoca.png') no-repeat left;
}

div.icon-48-item {
	background: url('images/icon-48-item.png') no-repeat left;
}

div.icon-48-guestbook {
	background: url('images/icon-48-guestbook.png') no-repeat left;
}

span.icon-32-piclens {
	background: url('images/icon-32-piclens.png') no-repeat left;
}

.license {
	text-align:justify;
	font-size: 9px;
}