/*phocaguestbook*/
body{margin:0;padding:0;}
a img {border:0px;padding:0;margin:0;}
table tr td a img {border:0px;}

/*panels*/
#phocaguestbook  .jpane-toggler span { background: transparent url(images/icon-message.png) 5px 50% no-repeat; padding-left: 24px;cursor:pointer;text-decoration:underline;}
#phocaguestbook  .jpane-toggler-down span { background: transparent url(images/icon-message.png) 5px 50% no-repeat; padding-left: 24px;cursor:pointer;text-decoration:underline;}

#phocaguestbook-jpane-none     { display:none;backgroud:#fff100;}

#phocaguestbook #mce_editor_0_toolbar {position: static !important;}

